.dropdown {
  margin-bottom: 1.6em;

  &.dropdown--error {
    textarea {
      border: 1px solid #ff002e99;
    }
    .textarea__error-message {
      color: #ff002e88;
      font-size: 0.7em;
      height: auto;
    }
  }

  label {
    width: 100%;
    font-size: 0.8em;
    margin-bottom: 2px;
    opacity: 0.8;
  }

  .dropdown-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e3e3e3;
    font-size: 0.9em;
    padding: 0.6em 1em 0.8em;
    min-width: 180px;
    position: relative;
    cursor: pointer;

    &.dropdown-content--disabled {
      background-color: #e3e3e3;
    }

    svg {
      margin-top: 0.2rem;
    }

    ul {
      position: absolute;
      top: calc(100% + 1px);
      left: -1px;
      right: -1px;
      list-style: none;
      background-color: white;
      border: 1px solid #e3e3e3;
      border-top: none;
      padding: 0;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;

      &.opened {
        opacity: 1;
        visibility: visible;
      }
      li {
        padding: 0.8em 1.4em;
        text-align: left;

        &:last-of-type {
          border-bottom: none;
        }

        &:hover {
          background-color: #fafafa;
        }
      }
    }
  }
}
