.table {
  h4 {
    font-weight: bold;
  }
  table {
    font-size: 0.8em;
    thead {
      tr {
        th {
          border-top: none;
          border-bottom: 1px dotted #7c6300 !important;
          color: #7c6300;
          font-weight: bolder;
          &:nth-of-type(2) {
            width: 50%;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border-top: 1px dotted #dadada !important;

          a {
            color: #7c6300;
            font-weight: bold;
          }
        }
      }
    }
  }
  .table__items-per-page {
    font-size: 0.8em;
  }
}

.dropdown--items-per-page {
  min-width: 80px !important;
}
