.sidebar {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  background-color: #20211f;
  max-width: 260px;
  min-height: calc(100vh + 400px);
  box-shadow: outset 3px 3px 3px #20211f;

  .logo {
    height: 60px;
    background-color: darken(#20211f, 2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: #f2c300;

      .sidebar__logo {
        width: 120px;
        height: auto;
        transition: all 0.4s ease-in-out;
      }
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
      border-bottom: 1px dotted #5a5a5a;
      content: ' ';
    }
  }

  nav {
    z-index: 1000;
    ul {
      margin: 30px 0;
      padding-left: 0;
      .menu-item {
        list-style: none;
        margin: 0;
        margin-bottom: 2px;
        border-left: 2px solid #20211f;

        &.active {
          border-left: 2px solid #f2c300;
          background-color: lighten(#20211f, 2);
          position: relative;
          a {
            color: #f2c300;
          }
        }

        &:hover {
          border-left: 2px solid #f2c300;
          background-color: lighten(#20211f, 2);
          cursor: pointer;
        }
        &.menu-item-has-child:hover:after {
          opacity: 0;
        }
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #dacaca;
          text-decoration: none;
          padding-left: 1em;
        }
        svg {
          margin-right: 10px;
          height: 36px;
        }
        p {
          margin: 0;
          font-size: 0.75em;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          width: 200px;
          padding: 1.4em 1em;
          transition: all 0.4s ease-in-out;
          max-width: 200px;
          opacity: 1;
        }
      }

      .menu-item {
        position: relative;

        &:hover {
          ul {
            transform: translateX(0px);
            opacity: 1;
            visibility: visible;
            transition: all 0.1s ease-in-out;
          }
        }
        ul {
          position: absolute;
          left: 100%;
          top: 0;
          z-index: 1000;
          min-width: 160px;
          margin: 0;
          list-style: none;
          background-color: #20211f;
          transform: translateX(-100px);
          opacity: 0;
          visibility: hidden;

          li {
            &:hover {
              background-color: lighten(#20211f, 2);
              cursor: pointer;
            }

            a {
              padding: 1.4em;
              font-size: 0.75em;
              text-transform: uppercase;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              letter-spacing: 0.05em;
              color: white !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .sidebar.hidden > .logo > a > .sidebar__logo {
    width: 60px;
  }

  .sidebar.hidden {
    nav {
      ul {
        .menu-item {
          p {
            max-width: 0;
            padding: 1.4em 0;
            opacity: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;

    &.opened {
      transform: translateX(0);
    }
  }
}

.sidebar-minimize-icon {
  background-color: #20211f;
  position: absolute;
  top: 45px;
  right: -10px;
  border-radius: 50%;
  border: 1px solid #ffffff33;
  transition: all 0.4s ease-in-out;
  &.hidden {
    transform: rotate(180deg);
  }
}
