.button {
  background-color: #f2c300;
  color: white;
  padding: 1em 2em;
  min-width: 120px;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.85em;
  letter-spacing: 1px;
  &:hover {
    background-color: lighten(#f2c300, 3);
  }
  &:focus {
    outline: none;
  }
}
