body {
  background-color: #f4f3ef !important;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #66615b;
  font-size: 0.9em;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100vw;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.3rem;
}

.content {
  height: 100vh;
  overflow: auto;
}

.card {
  background-color: white;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  -webkit-box-shadow: 2px 2px 6px 2px rgba(153, 153, 153, 0.3);
  -moz-box-shadow: 2px 2px 6px 2px rgba(153, 153, 153, 0.3);
  box-shadow: 2px 2px 6px 2px rgba(153, 153, 153, 0.3);

  h4 {
    padding-bottom: 0.8em;
  }
}
